p{
  color: red;
}

body {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("http://www.cool-hdwallpapers.net/web/wallpapers/code-matrix-red/1366x768.png");
	
	height: 100%;
	text-align: left;
	width: 100%;
	
}
